<div class="card p-3 dark-card">
    <h4>Registro</h4>
    <hr>
    <form [formGroup]="formRegister" (submit)="registrar()">
        <div class="input-group mb-2">
            <div class="input-group-prepend" style="width: 170px;">
                <span class="input-group-text" style="width: 100%;">Usuario:</span>
            </div>
            <input type="text" class="form-control input-text" placeholder="Usuario" formControlName="username" >
        </div>
        
        <div class="input-group mb-2">
            <div class="input-group-prepend" style="width: 170px;">
                <span class="input-group-text" style="width: 100%;">Contraseña:</span>
            </div>
            <input type="password" class="form-control input-text" placeholder="Contraseña" formControlName="password" ><br/>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend" style="width: 170px;">
                <span class="input-group-text" style="width: 100%;">Repetir contraseña:</span>
            </div>
            <input type="password" class="form-control input-text" placeholder="Repetir contraseña" formControlName="password2" ><br/>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend" style="width: 170px;">
                <span class="input-group-text" style="width: 100%;">Email:</span>
            </div>
            <input type="text" class="form-control input-text" placeholder="Email" formControlName="email" ><br/>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend" style="width: 170px;">
                <span class="input-group-text" style="width: 100%;">Provincia:</span>
            </div>
            <select class="form-control input-text" formControlName="provincia" >
                <option *ngFor='let provincia of provincias' value="{{ provincia }}">{{ provincia }}</option>
            </select>
            <br/>
        </div>

        <input type="submit" class="btn btn-primary" [disabled]='formRegister.invalid' value="Registrar">
    </form>
</div>