<h3>Juegos</h3>
<div class="">
    <hr>
    <div class="px-4" style="height: 1rem; margin-top: -1%;">
        <div class="row">
            <div class="col-sm header-title">
                <p>Nombre del juego</p>
            </div>
            <div class="col-sm header-title">
                <p>Fecha de lanzamiento</p>
            </div>
            <div class="col-sm header-title">
                <p>Género(s)</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mt-3 py-3 px-4 game-card" *ngFor='let juego of juegos' style="height: 5rem;">
        <div class="row">
            <div class="col-sm">
                <p><a class="pointer" (click)="ver_juego(juego.id)">{{ juego.nombre }}</a></p>
            </div>
            <div class="col-sm">
                <p>{{ juego.fecha_lanzamiento }}</p>
            </div>
            <div class="col-sm">
                <p>{{ juego.genero }}</p>
            </div>
        </div>
    </div>
</div>
