<div class="card mb-3" style="width: 90%; margin: auto;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: {{ usuario.username }}</li>
      <li class="list-group-item">Email: {{ usuario.email }}</li>
      <li class="list-group-item">
        <ng-template [ngIf]='!edit' [ngIfElse]='cancelar'>
          <input type="button" value="Editar" (click)='edit = !edit' class="btn btn-primary mr-3">
        </ng-template>
        <ng-template #cancelar>
          <input type="button" value="Cancelar" (click)='edit = !edit' class="btn btn-secondary mr-3">
        </ng-template>
        <input type="button" value="Eliminar" (click)='edit = false; eliminar()' class="btn btn-danger">
      </li>
    </ul>
</div>
<ng-template [ngIf]='edit'>

  <div class="border rounded p-3" style="width: 90%; margin: auto;">
    
    <div class="alert alert-info" role="alert">
      Si se dejan campos vacios no se editan
    </div>

    <form [formGroup]="formUpdate" (submit)="editar()">
      <div class="input-group mb-2">
          <div class="input-group-prepend" style="width: 170px;">
              <span class="input-group-text" style="width: 100%;">Usuario:</span>
          </div>
          <input type="text" class="form-control" placeholder="Usuario" formControlName="username" >
      </div>
      
      <div class="input-group mb-2">
          <div class="input-group-prepend" style="width: 170px;">
              <span class="input-group-text" style="width: 100%;">Contraseña:</span>
          </div>
          <input type="text" class="form-control" placeholder="Contraseña" formControlName="password" ><br/>
      </div>

      <div class="input-group mb-2">
          <div class="input-group-prepend" style="width: 170px;">
              <span class="input-group-text" style="width: 100%;">Repetir contraseña:</span>
          </div>
          <input type="text" class="form-control" placeholder="Repetir contraseña" formControlName="password2" ><br/>
      </div>
      <input type="submit" class="btn btn-primary" [disabled]='formUpdate.invalid' value="Editar">
    </form>
  </div>
</ng-template>
